<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/ic_carplay"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@drawable/ic_carplay"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/Theme.Xcertplay">

        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />

        <receiver
            android:name="com.shilapi.xcertplay.BootReceiver"
            android:enabled="true"
            tools:replace="android:enabled" />

        <receiver
            android:name="com.shilapi.xcertplay.PhoneBluetoothReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
            </intent-filter>
        </receiver>

        <service android:name="com.shilapi.xcertplay.shared.MyCarAppService" tools:node="remove" />
        <meta-data android:name="androidx.car.app.minCarApiLevel" tools:node="remove" />
    </application>

</manifest>
